* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.slider {
    max-width: 800px;  /* sliderning o'lchami / slider's width */
    margin: 0 auto;
    height: 450px;
    position: relative;
}

.slider__img {
    width: 100%;
    height: 100%;
}

.slider__img img {
    width: 100%;
    height: 100%;
    display: none;
}

.slider__img img:first-child {
    display: block;
}

.slider__buttons {
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.btn {
    padding: 7px 20px;
    font-size: 20px;
    margin: 5px;
    background: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
}

.slider__buttons:hover {
    opacity: 1;
    transition: 0.3s;
}

.btn:hover {
    backdrop-filter: blur(10px);
}

@media (max-width: 1024px) {
    .slider__buttons {
        opacity: 1;
    }
}